# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/node_modules
**/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
.env
.env.*
!.env.example
!.env.template
backend/database/test-data.sql
backend/tests/test-schema.graphql

**/coverage/

.release/browser-report/
.release/browser-results/
.playwright/
