.month {
    @apply grid grid-cols-7 items-center snap-mandatory snap-center;

    .headline {
        @apply text-muted-foreground text-center text-lg mb-2 pt-4;
        grid-column: 1 / -1;
        
    }

    .weekdays {
        @apply grid text-muted-foreground text-xs grid-cols-subgrid;
        grid-column: 1 / -1;
        
        > li {
            @apply items-center justify-center flex py-2;
        }
    }
    
    .days {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        user-select: none;

        > li {
            @apply flex justify-center;
            aspect-ratio: 1.2;

            button {
                @apply aspect-square h-full rounded-full;
                @apply flex justify-center items-center bg-clip-content;
                letter-spacing: -.5px;

                &:not(:disabled) {
                    @apply hover:bg-secondary;
                }

                &.selected {
                    @apply border-2 border-link border-dashed;                    
                }
            }
        }
    }
}