.month {
    @apply grid grid-cols-7 items-center snap-mandatory snap-center;

    .header {
        @apply flex justify-between items-center w-full col-span-full px-1;
    }

    .headline {
        @apply text-muted-foreground text-center text-lg mb-2 pt-4 col-span-full ;
        
    }

    .weekdays {
        @apply grid text-muted-foreground text-xs grid-cols-subgrid col-span-full ;
        
        > li {
            @apply items-center justify-center flex py-2;
        }
    }
    
    .days {
        @apply grid col-span-full grid-cols-subgrid select-none;

        > li {
            @apply flex justify-center;
            aspect-ratio: 1.2;

            button {
                @apply aspect-square h-full rounded-full;
                @apply flex justify-center items-center bg-clip-content;
                letter-spacing: -.5px;

                &:not(:disabled) {
                    @apply hover:bg-secondary;
                }

                &.selected {
                    @apply border-2 border-link border-dashed;                    
                }
            }
        }
    }
}