.table {
	width: 100%;
	display: grid;
	background: hsl(var(--background));
	font-size: 0.875em;
	gap: 1px;
	display: grid;
	grid-column: 1fr;
	grid-auto-rows: auto;

	.item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: stretch;
		height: 28px;
		overflow: hidden;
	}

	.key-value {
		background-color: hsl(var(--primary-foreground));
		flex: auto;
		min-width: min-content;
	}

	.item:not(:first-child) .key-value .label {
		display: none;
	}

	.item:first-child .key-value .label {
		position: sticky;
		display: flex;
		align-items: center;
		padding: 2px 5px;
		height: 28px;
		border-bottom: 1px solid hsl(var(--background));
	}
}
