.table {
	@container (min-width: 300px) {
		--columns: 2;
	}
	@container (min-width: 450px) {
		--columns: 3;
	}
	@container (min-width: 600px) {
		--columns: 4;
	}
	@container (min-width: 750px) {
		--columns: 5;
	}
	@container (min-width: 900px) {
		--columns: 6;
	}
	@container (min-width: 1050px) {
		--columns: 7;
	}
	@container (min-width: 1200px) {
		--columns: 8;
	}
	@container (min-width: 1350px) {
		--columns: 9;
	}
	@container (min-width: 1500px) {
		--columns: 10;
	}
}

.table {
	width: 100%;
	padding: 0 5px;
	display: grid;
	font-size: 0.875em;
	display: grid;
	grid-template-columns: 16px repeat(
			var(--columns, 1),
			minmax(min-content, 1fr)
		);
	grid-auto-rows: auto;
	border: .5px solid hsl(var(--background));

	.item {
		display: grid;
		column-gap: 1px;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		overflow: hidden;
		max-height: 28px;
		width: 100%;
	}

	.options {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 6px;
	}

	.key-value {
		flex: auto;
		min-width: min-content;
		border-right: .5px solid hsl(var(--background));
		padding: 0px 5px;

		.editor,
		.label {
			height: 28px;
		}

		.label {
			display: flex;
			align-items: center;
			color: hsl(var(--muted-foreground));
		}
	}

	.item:not(:first-child) .key-value .label {
		display: none;
	}

	.item:first-child {
		max-height: 56px;
	}
}
