.table {
    display: grid;
    background: hsl(var(--background));
    font-size: 0.875em;
    gap: 1px;
    grid-template-columns: repeat(var(--columns), minmax(200px, 1fr));

    .item {
        display: contents;
    }

    .key-value {
        background-color: hsl(var(--primary-foreground));
    }

    .item:not(:first-child) .key-value .label {
        display: none;
    }

    .item:first-child .key-value .label {
        position: sticky;
        display: flex;
        align-items: center;
        padding: 2px 5px;
        height: 28px;
        border-bottom: 1px solid hsl(var(--background));
    }
}

