.table {
	width: 100%;
	padding: 0 5px;
	display: grid;
	font-size: 0.875em;
	display: grid;
	grid-template-columns: 20px repeat(
			var(--columns, 1),
			1fr
		);
	grid-auto-rows: auto;
	border: .5px solid hsl(var(--background));

	.item {
		display: grid;
		column-gap: 1px;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		overflow: hidden;
		height: 28px;
		width: 100%;
	}

	.options {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 6px;
		width: 20px;
	}

	.key-value,
	.label {
		flex: auto;
		min-width: min-content;
		border-right: .5px solid hsl(var(--background));
		padding: 0px 5px;
		height: 28px;
	}

	.label {
		color: hsl(var(--muted-foreground));
	}
}
