/* Basic editor styles */
.tiptap {
    .tableWrapper {
        width: 100%;
    }

    th {
        font-weight: normal;
    }

    :first-child {
      margin-top: 0;
    }
  
    ul ul, ol ol, li, li p, td > p, th > p {
        margin: 0;
    }

    &.prose {
        --tw-prose-bold: inherit;
    }

    table, tr, td, th {
        padding: 0;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        border: 1px dotted hsl(var(--border));
    }

    td, th {
        padding: 2px 3px;
    }

    a {
        color: hsl(var(--chart-2));
    }
}