/* Basic editor styles */
.tiptap {
    :first-child {
      margin-top: 0;
    }
  
    ul ul, ol ol, li, li p, td > p, th > p {
        margin: 0;
    }

    &.prose {
        --tw-prose-bold: inherit;
    }

    table, td, th {
        padding: 0;
        table-layout: fixed;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid hsl(var(--border));
    }

    a {
        color: hsl(var(--chart-2));
    }
}