@tailwind base;
@tailwind components;
@tailwind utilities;
flex 
.test {
  color: hsl(202, 77%, 34%);
}

@layer base {

  :root  {
    --background: 217 100% 95%;
    --foreground: 217 5% 10%;
    --card: 217 50% 90%;
    --card-foreground: 217 5% 15%;
    --popover: 217 100% 95%;
    --popover-foreground: 217 100% 10%;
    --primary: 217 45% 27%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 179 30% 85%;
    --muted-foreground: 217 5% 35%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 50%;
    --link: 200 100% 50%;
    --input: 217 30% 26%;
    --ring: 217 45% 27%;
    --radius: 0.5rem;
  }

  .dark  {
    --background: 224 10% 10%;
    --foreground: 224 5% 90%;
    --card: 224 7% 10%;
    --card-foreground: 224 5% 90%;
    --popover: 224 10% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: 224 0% 96%;
    --primary-foreground: 0 0% 0%;
    --secondary: 224 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 225 10% 25%;
    --muted-foreground: 224 5% 40%;
    --accent: 225 10% 15%;
    --accent-foreground: 224 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 17% 20%;
    --link: 200 100% 50%;
    --input: 224 20% 30%;
    --ring: 224 0% 96%;
    --radius: 0.5rem;
    --chart-1: 224 10% 20%;
    --chart-2: 224 10% 20%;
    --chart-3: 224 10% 20%;
    --chart-4: 224 10% 20%;
    --chart-5: 224 10% 20%;
  }

  * {
    @apply border-border;
  }
}

@layer components {
  body {
    @apply bg-background text-foreground min-h-[100svh] min-w-[100svw] flex items-stretch flex-row;
  }

  #app {
    @apply w-full flex-1;
  }
}


.grid-lines {
  background-image: linear-gradient(to bottom, transparent 27px, hsl(var(--border) / 80%) 28px);
  background-size: 100% 28px; /* Repeat every 28 pixels */
}

.container-size {
  container-type: inline-size;
}

.wmde-markdown {
  --color-canvas-default: hsl(var(--background)) !important;
}
