.dimmable {
	position: relative;

	&:after {
		position: absolute;
		inset: 0;
		transition: all .2s ease-in-out;
		z-index: 2;
		mix-blend-mode: darken;
		content: "";
		pointer-events: none;
	}

	&.dimmed:after {
		content: "";
		background-color: #2e3447;
	}
}
